@font-face {
    src: url("../assets/fonts/AvenirNextRegular.otf");
    font-family: "AvenirNextRegular";
}
@font-face {
    src: url("../assets/fonts/AvenirNextDemi.otf");
    font-family: "AvenirNextDemiBold";
}
@font-face {
    src: url("../assets/fonts/AvenirNextBold.otf");
    font-family: "AvenirNextBold";
}