@font-face {
    font-family: 'AvenirNextRegular';
    src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf)
}

@font-face {
    font-family: 'AvenirNextMedium';
    src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf)
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf)
}
