@mixin header {
  color: $black;
  font-family: AvenirNextBold;
  font-size: 24px;
  line-height: 32px;
}

@mixin subheader {
  color: $black;
  font-family: AvenirNextMedium;
  font-size: 14px;
  line-height: 22px;
}

@mixin paragraph {
  color: $black;
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirNextRegular;
}

@mixin label {
  font-size: 12px;
  line-height: 20px;
  font-family: AvenirNextRegular;
  color: $silver;
}

@mixin large-header {
    font-family: AvenirNextBold;
    font-size: 60px;
    line-height: 68px;
  }

  @mixin tab-header {
    font-family: AvenirNextBold;
    font-size: 36px;
    line-height: 44px;
  }

  @mixin tab-subheader {
    font-family: AvenirNextMedium;
    font-size: 16px;
    line-height: 24px;
  }

  @mixin tab-paragraph {
    font-size: 14px;
    line-height: 22px;
    font-family: AvenirNextRegular;
  }

  @mixin lists {
    font-size: 14px;
    line-height: 20px;
    font-family: AvenirNextRegular;
  }


.product{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-style: solid;
    border-color: silver;
    padding-bottom: 24px;

&__bottom-container{
    display: flex;
    flex-direction: row;
}

&__top-container{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 32px;
}

&__mid-container{
    display: flex;
    flex-direction: column;
}

&__data-container{
    display: flex;
    flex-direction: column;
}

&__label{
    margin-bottom: 16px;
    @include label;
    color: $silver;
}

&__data{
    margin-bottom: 24px;
    @include paragraph;
}

&__header{
    @include header;
    color: $black;
    margin-bottom: 16px;
}

&__name{
    margin-bottom: 16px;
    @include subheader;
}

&__input{
    border-radius: 4px;
    height: 48px;
    width: 252px;
    background-image: url("../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 5%;
}

&__button{
    display: flex;
    background-color: $instock-blue-dark;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
}

@include medium{
    .product{
        margin-left: 3%;
        margin-right: 3%;

    &__top-container{
        flex-direction: row;
        justify-content: space-between;
    }
    &__mid-container{
        flex-direction: row;
    }

    &__data-container{
        margin-right: 3%;
    }
    &__label-container{
        margin-right: 3%;
    }
    
    &__name{
        margin: 0;
    }
    &__data{
        margin: 0;
    }
    &__header{
        @include tab-header;
    }
    &__name{
        @include tab-subheader;
    }
    &__data{
        @include tab-paragraph;
    }
    }
}

@include huge{
   .product{
    margin-right: 13%;
    margin-left: 13%;
   }
   &__name{
       margin-bottom: 8px;
   }
}
