/* media query for mobile */
/* media query for tablet */
/* media query for landscape, medium pixel density desktops */
/* media query for high pixel density desktops */
@font-face {
  font-family: 'AvenirNextRegular';
  src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: 'AvenirNextMedium';
  src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf);
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url(../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf);
}

.nav {
  background-color: #323232;
  height: 15vh;
  width: 100vw;
}

.nav__logo {
  margin: 0 auto;
}

.nav__logo__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom-style: solid;
  border-color: silver;
}

.product__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
}

.product__mid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__label {
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 20px;
  font-family: AvenirNextRegular;
  color: #AFAFAF;
  color: #AFAFAF;
}

.product__data {
  margin-bottom: 24px;
  color: #323232;
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirNextRegular;
}

.product__header {
  color: #323232;
  font-family: AvenirNextBold;
  font-size: 24px;
  line-height: 32px;
  color: #323232;
  margin-bottom: 16px;
}

.product__name {
  margin-bottom: 16px;
  color: #323232;
  font-family: AvenirNextMedium;
  font-size: 14px;
  line-height: 22px;
}

.product__input {
  border-radius: 4px;
  height: 40px;
  width: 252px;
  background-image: url("../assets/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 5%;
}

.product__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #002F5F;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .product__top-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product__mid-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product__data-container {
    margin-right: 3%;
  }
  .product__label-container {
    margin-right: 3%;
  }
  .product {
    margin-left: 3%;
    margin-right: 3%;
  }
  .product__name {
    margin: 0;
  }
  .product__data {
    margin: 0;
  }
}

html,
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  line-height: 1.8rem;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=main.css.map */